<h1>Awuah Dennis</h1>

<img src="/images/vehicles/delorean.jpg">

<div class="car-card">
    <h2>DMC Delorean</h2>
    <p>3 cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
    <p><a href="">Own Today</a></p>
</div>

<div class="car-card-grid">
    <div class="car-card1">
        <h2>Delorean Upgrades</h2>
        <img src="/images/upgrades/flux-cap.png">
        <p>Flux Capacitor</p>
        <img src="/images/upgrades/flame.jpg">
        <p>Flame Decals</p>
        <img src="/images/upgrades/bumper_sticker.jpg">
        <p>Bumper Stickers</p>
        <img src="/images/upgrades/hub-cap.jpg">
        <p>Hub Caps</p>
    </div>

    <div class="car-card2">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time."(4/5)</li></li>
            <li>"Coolest ride on the road."(4/5)</li>
            <li>"I'm feeling McFly!"(5/5)</li>
            <li>"The most futuristic ride of our day."(4.5/5)</li>
            <li>"80's living and I love it!"(5/5)</li>
        </ul>
    </div>
</div>
