<div class="error-container">
    <h1><%= title %></h1>
    <p class="error-message">
        <%= message %>
    </p>

    <div class="error-details">
        <h2>What can you do?</h2>
        <ul>
            <li>Check the URL for mistakes and try again.</li>
            <li>Return to the <a href="/">home page</a>.</li>
            <li>If the problem persists, please contact support.</li>
    </div>
</ul>


</div>